.card-body {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.card {
    margin: auto;
}

main {
    height: 75vh;
    display: flex;
    align-items: center;
}

body {
    height: 100vh;
}